@media (min-width: 600px) {

    .cabecalho{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .menu{
        display: none;
    }

    .cabecalho ul{
        display: flex;
        margin-top: 0px;
    
    }

    .cabecalho ul li{
        margin-top: 0px;
        margin-left: 1em;
    }

    .cabecalho .btn a{
        margin-top: 0px;
    }


    .apresentacao{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    

    .apresentacao article{
        width: 50%;
    }

    .btn-apresentacao{
        margin-top: 1.8em;
    }



    .sobre-nos{
        display: flex;
        flex-wrap: wrap;
    }

    .sobre-nos article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .sobre-nos p{
        text-align: justify;
        padding: 10px;
    }


    .projeto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .projeto div{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    .projeto div:nth-child(2){
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        
    }

    .projeto p{
        margin-top: 2em;
        text-align: justify;
    }

   
    .image-projeto img{
        width: 280px;
        height: auto;
        margin-top: 0px;
    }

    .projeto .btn{
        align-self: center;
    }




    .servicos{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 50px 0px 50px 0px;
    }

    .servico{
        padding: 10px;
        width: 400px;
        border: 5px solid #64bce1;
        border-radius: 10px;
    }
  
    .contato{
        padding: 80px 10px 50px 0px;
        border-radius: 90px 90px 0px 0px;
        border-top: 5px solid  #64bce1;
        background-color: #4b53c8f8;
    }

    .background-contato{
        background: url(../img/Wallpaper-cidade-foguete.jpg);
        border-radius: 90px 90px 0px 0px;
    }


    .contatos{
        display: flex;
        justify-content: space-evenly;
    }

    .contato article:nth-child(2){
        margin: 0px;
        width: 30%;
        box-shadow: 5px 5px 5px black;
        border: solid 2px #64bbe193;
    }


    
}