@media (min-width: 600px) {

    .cabecalho{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .cabecalho ul{
        display: flex;
        margin-top: 0px;
    
    }

    .cabecalho ul li{
        margin-top: 0px;
        margin-left: 1em;
    }

    .cabecalho .btn a{
        margin-top: 0px;
    }


    .apresentacao{
        display: flex;
        flex-direction: row;
    }

    .apresentacao article{
        width: 50%;
    }


    .sobre-nos{
        display: flex;
    }

    .sobre-nos article{
        width: 50%;
    }


    .projeto{
        display: flex;
        justify-content: space-evenly;
    }

    .projeto div:nth-child(1){
        width: 50%;
    }

    .projeto div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

   
    .image-projeto img{
        margin-top: 0px;
    }




    .servicos{
        display: flex;
        justify-content: space-evenly;
        margin: 50px 0px 50px 0px;
    }

    .servico{
        padding: 10px;
        width: 400px;
        border: 5px solid #64bce1;
        border-radius: 10px;
    }
  
    .contato{
        padding: 80px 10px 50px 0px;
        border-radius: 90px 90px 0px 0px;
        border-top: 5px solid  #64bce1;
        background-color: #4b53c8f8;
    }

    .background-contato{
        background: url(../img/Wallpaper-cidade-foguete.jpg);
        border-radius: 90px 90px 0px 0px;
    }


    .contatos{
        display: flex;
        justify-content: space-evenly;
    }

    .contato article:nth-child(2){
        margin: 0px;
        width: 30%;
        box-shadow: 5px 5px 5px black;
        border: solid 2px #64bbe193;
    }


    .rodape{
        display: flex;
        justify-content: space-between;
    }

    .rodape p{
        display: block;
    
    }

    .rodape div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rodape ul{
        display: flex;
    }

    .rodape ul li img{
        width: 30px;
        margin-left: 1em;
    }

    .rodape .logo{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .rodape .logo img{
        width: 50px;
    }

    .rodape div{
        margin-top: 0px;
    }
}